[Unit]
Description=Lego ACME Certificate Automated Renewal Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/debopti-lego-renew.sh
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
