[Unit]
Description=FreshIP Hot Data Updater
After=network.target

[Service]
Type=oneshot
User=freship
Group=freship
ExecStart=/bin/bash /opt/freship/core/freship_updater.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=freship
